#lstNames {
    -fx-font-size: 16px;
}

#btnRemove:hover {
    -fx-background-color: rgba(180, 0, 0, 0.7);
}

#btnRemove {
    -fx-background-color: #b40000;
    -fx-text-fill: white;
    /*-fx-cursor: hand;*/
    /*-fx-font-size: 24px;*/
    /*-fx-font-weight: 700;*/
    /*-fx-font-style: italic;*/

    /*-fx-background-radius: 5px;*/

    /*-fx-border-color: red;*/
    /*-fx-border-width: 3px;*/
    /*-fx-border-radius: 25px;*/
    /*-fx-border-style: dotted;*/
}

/*.label{*/
/*    -fx-background-color: red;*/
/*}*/